/* Tic Tac Toe game styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    flex-direction: column; /* Changed to column to stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #2e2e33;
    text-align: center;
    margin-bottom: 55px; /* Added to give space between the header and the game board */
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fff;
}

.cell:hover {
    background-color: #f0f0f0;
}

#reset-button {
    display: block;
    width: 10%;
    padding: 5px;
    margin-top: 50px; /* Added to give space between the game board and reset button */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #444;
}

/* Confetti animation */
@keyframes confetti-fall {
    10% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 1;
    }
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: confetti-fall 30s ease-out infinite;
}

.confetti.blue {
    background-color: #5090e2;
}

.confetti.pink {
    background-color: #c943c9;
}

.confetti.red {
    background-color: #ff93b3;
}
